In [1]:
import pandas as pd
import numpy as np

In [2]:
houston_ids_pre=[482010051,482010558,482010572,482010551,482016000,482010669,482010695,482010307,482010670,482010673,482010671,482010069,482011035,482010057,482011049,482010803,482011034,482011052,482010024]
def format_AQS(ids):
    new_ids=[]
    for hou in houston_ids_pre: 
        hou=list(str(hou))
        hou.insert(2, '_')
        hou.insert(7, '_')
        hou="".join(hou)
        new_ids.append(hou)
    return new_ids

In [3]:
houston_ids=format_AQS(houston_ids_pre)
index=np.arange(len(houston_ids))
houston_df=pd.DataFrame(pd.Series(houston_ids), index=index, columns=['AQS_Code'])

In [30]:
pd.Series(houston_ids)

0     48_2010_051
1     48_2010_558
2     48_2010_572
3     48_2010_551
4     48_2016_000
5     48_2010_669
6     48_2010_695
7     48_2010_307
8     48_2010_670
9     48_2010_673
10    48_2010_671
11    48_2010_069
12    48_2011_035
13    48_2010_057
14    48_2011_049
15    48_2010_803
16    48_2011_034
17    48_2011_052
18    48_2010_024
dtype: object

In [4]:
houston_df

       AQS_Code
0   48_2010_051
1   48_2010_558
2   48_2010_572
3   48_2010_551
4   48_2016_000
5   48_2010_669
6   48_2010_695
7   48_2010_307
8   48_2010_670
9   48_2010_673
10  48_2010_671
11  48_2010_069
12  48_2011_035
13  48_2010_057
14  48_2011_049
15  48_2010_803
16  48_2011_034
17  48_2011_052
18  48_2010_024

In [6]:
def houston_site(code):
    if code in houston_ids:
        return True
    
houston_df['houston_site']=houston_df['AQS_Code'].apply(houston_site)